
div#title {	margin: 10px auto 0;
			padding: 5px 20px;}

h1 {
	font-family: Georgia, serif;
	font-size: 1.4em;
	letter-spacing: 1px;
	margin: 0 auto;
			}
h2 {
	font-size: .8em;
	font-weight:100;
	margin: .3em auto;
			}

svg {
  background-color: white;
}
.axis--x path {
  display: none;
}

.axis--y path {
  display: none;
}
.bar.high {
  fill: #a73540;

}

.bar.low {
  fill: #abc6c3;

}


p {font-size: .8em;
	font-weight:100;
	margin: .3em auto;}

margin-right:2px;

.legend {
    font-size: 12px;
  }
  rect {
    stroke-width: 2;}

 .key-dot {
    display: inline-block;
    height: 10px;
    margin-right: .5em;
    width: 10px;
}



}

